<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contributor's info</title>
    <link type="Image/x-icon" th:href="@{/img/logo.ico}" rel="icon">
    <link href="../static/css/search.css" th:href="@{/css/customer.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="modal-overlay hide-modal">
        <div class="modal-request-text">
            Do you really want to delete this information?
        </div>
        <div class="button-wrapper">
            <button class="customer-delete-confirm">Delete</button>
            <button class="customer-delete-discard">Cancel</button>
        </div>
    </div>
    <div class="status-overlay hide-status">
        <span class="success-message">Success!</span>
        <span class="error-message">Error :(</span>
        <button class="status-seen">OK</button>
    </div>
    <div class="container">
        <h2 class="customer-title">Contributor's info</h2>
        <div class="item"></div>
        <div class="btn-wrapper">
            <button class="customer-delete">Delete</button>
            <button class="customer-edit">Edit</button>
        </div>
        <a href="/admin" id="home-link">Home</a>
    </div>
    <span id="db-info" class="hide" th:text="${dbObject}"/>
    <script src="../static/js/search.js" th:src="@{/js/customer.js}"></script>
</body>
</html>