<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Homepage</title>
    <link type="Image/x-icon" th:href="@{/img/logo.ico}" rel="icon">
    <link href="../static/css/admin.css" th:href="@{/css/admin.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="logo-img">
            <img src="../static/img/logo.png" th:src="@{/img/logo.png}" alt="logo">
        </div>
        <ul class="admin-navigation">
            <li class="admin-navigation-item">
                <a href="/search">Search</a>
            </li>
            <li class="admin-navigation-item">
                <a href="/add">Add Contributor</a>
            </li>
        </ul>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" id="sign-out"/>
        </form>
    </div>
</body>
</html>